<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body class="body">
  
  <div class="container">
    
    <!-- Web title -->

    <div class="col-lg-8 col-md-7 col-sm-6">
      <h1>MUSIC CONCERT NETWORK</h1>
      <p class="lead">The ultimate music site</p>
    </div>

    <!-- Blockquotes -->
   
    <div class="bs-docs-section">
    
        <div class="row">
          <div class="col-lg-6">
            <div class="bs-component">
              <blockquote>
                <p>“I’m not going to change the way I look or the way I feel to conform to anything. I’ve always been a freak. So I’ve been a freak all my life and I have to live with that, you know. I’m one of those people.”</p>
                <small>John Lennon <cite title="Source Title">Woodstock (1968)</cite></small>
              </blockquote>
            </div>
          </div>
        </div>

    </div>

   <!-- ****************************************************************** -->

   <%= flash_message %>
   
   <%= yield %>

   <!-- ****************************************************************** -->

    <!-- Footer -->
    <footer class="footer">
 
      <div class="row">
        <div class="col-lg-12">
          <div class="bs-component">
            <blockquote class="pull-right">
              <ul class="list-unstyled">
                <li class="pull-right"><a href="#top">Back to top</a></li>
              </ul>
            </blockquote>
          </div>
        </div>
      </div>

      Made by Juan Antona<br>
      <a href="http://scriptogr.am/juanantona">Blog</a><br>
      <a href="https://github.com/juanantona/">GitHub</a><br>
      Powered by IronHack<br>
      Code released under the <a href="https://github.com/thomaspark/bootswatch/blob/gh-pages/LICENSE">MIT License</a><br>
      Based on <a href="http://getbootstrap.com" rel="nofollow">Bootstrap</a>. Icons from <a href="http://fortawesome.github.io/Font-Awesome/" rel="nofollow">Font Awesome</a>. Web fonts from <a href="http://www.google.com/webfonts" rel="nofollow">Google</a><br>
       
    </footer>

  </div>
  
</body>
</html>
